<div class="row">
    <div class="col-md-2">
        <p>This application was developed by <a href="https://www.kandisflick.com" target="_blank">Kandis Flick</a></p>
    </div>
    <div class="col-md-1">
    </div>
    <% if !@error.nil? %>
        <p><%= @error %></p>
    <% end %>
    <form action="/" method="post">
        <label for="birthdate">Enter your birthdate</label>
        <input type="date" name="birthdate" />
        <input type="submit" />
    </form>
</div>