<div class="row">
    <% if !@error.nil? %>
        <p><%= @error %></p>
    <% end %>

    <div class="col-12 page-section">
        <h2 class="section-subheading"><%= @header %></h2>
    

    <form action="/" method="post">

        <div class="col-12"> 
            <div class="form-group">
                <label for="birthdate">Enter your birthdate</label>
                <input class="form-control" name="birthdate" type="date" />
            </div>
        </div>
        <div class="col-12">
            <input class="btn-primary" type="submit" />
        </div>
    </form>
</div>
    <div class="row">
        <p><small>This application was developed by <a href="https://www.kandisflick.com" target="_blank">Kandis Flick</a></small></p>
    </div>

