<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="/css/people.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>Numerology App</title>
</head>
  <body>
    <div class="container">
      <div class="header">
        <h1>Numerology Number Calculator</h1>
      </div>

      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/people">People Database</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/people/new">Create a Person</a>
      </li>
    </ul>
  </div>
</nav>

      
      <hr />
      <%= yield %>
    </div>
  </body>
</html>
